@charset "UTF-8";

/*
    Paleta de cores
    verde: #49a09d;
    lilas: #5f2c82;
*/
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease ;
}
section#login > div#imagem{
    display: block;
    background: #5f2c82 url(../img/fundo-futurista-abstrato-com-design-3d.jpg) no-repeat;
    height: 200px;
    background-position: center center;
    background-size: cover;
}

section#login > div#formulario {
    display: block;
    padding: 10px;

}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form {
    margin-top: 7px;
    text-align: center;
}

.campo {
    padding: 2px 0px;
}
#isenha, #ilogin {
    text-decoration: none;
    outline: none;
    padding: 1px 3px;
}
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #4A75E0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type = submit]:hover{
    background-color: #203261;
    color: #fff;
    transition: .5s;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    padding-top: 7px;
    margin-top: 5px;
    height: 40px;
    width: 100%;
    background-color: #0084ffb2;
    
    border-radius: 5px;
    text-decoration: none;
}
form > a.botao:hover{
    background-color: #0068ca ;
    transition: .5s;
    color: #ffffff;
}
form > a.botao > i{
    font-size: 0.8em;
}








